#logo{
    height:99px;
}
#dlarrow{
    height:22px;
    width:16px;
}
.navbar-nav{
    margin:0 auto !important;
}
.customnav{
    height:99px !important;
    background-color:white !important;
}
.navbar-nav a{
    margin-left:106px;
    margin-right:106px;
    color:black !important;
}
.csarea{
    background-color:#5E6269;
    height:100vh;
    height:calc(100vh - 99px);
}