body{
    font-family: 'Open Sans', sans-serif;
}
#logo{
    height:99px;
}
#dlarrow{
    height:22px;
    width:16px;
}
.navbar-nav{
    margin:0 auto !important;
}
.customnav{
    height:99px !important;
    background-color:white !important;
    position:fixed;
    width:100%;
}
.navbar-nav a{
    margin-left:106px;
    margin-right:106px;
    color:black !important;
}
.csarea{
    background-color:#5E6269;
    height:100%;
    height:calc(100% - 99px);
    padding-top:99px;
    width:100%;
    display:flex;
}
#mvacaPic{
    width:30%;
    min-height:914px;
    min-width:525px;
    margin-top:16px;
    margin-left:11px;
}
.phasescontainer{
    width:100%;
}
.phasescontainer h1{
    text-align:center;
    color:white;
}
.phases{
    display:flex;
    justify-content:space-around;
    padding-top:50px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}
.phasecircle{
    height:102px;
    width:102px;
}
.phase1{
    background-color:#8BADE0;
    color:black;
}
.phase2{
    background-color:#3D7DDB;
    color:black;
}
.phase3{
    background-color:#0143A8;
    color:white;
}
.phase4{
    background-color:#1A345C;
    color:white;
}
.phase5{
    background-color:#5E6269;
    color:white;
}
.phase6{
    background-color:#ffffff;
    color:black;
}